<vue-module id="post-teaser">
  <template>
    <div v-if="!hasPost">
      <p>Loading post teaser...</p>
      <md-spinner md-indeterminate></md-spinner>
    </div>

    <template v-if="hasPost">
      <site-title :created-on="createdOn" :title="title" :url="url"></site-title>
      <div v-html="teaser"></div>
    </template>

    <a :href="url">Read more...</a>
  </template>

  <script>
    Vue.module('post-teaser', {
      props: ['post'],

      data: function () {
        return {
          teaser: '',
          title: '',
          createdOn: '',
        };
      },

      computed: {
        hasPost: function () { return this.teaser.length > 0; },
        url: function () { return '/posts/' + this.post + '.html' },
      },

      mounted: function () {
        getPost(this, this.url, function (post) {
          this.title = $.trim(post.find('title').text());
          this.createdOn = post.find('site-title').attr('created-on');
          this.teaser = post.find('#teaser').html();
        });
      },
    });
  </script>
</vue-module>
