<vue-module id="post-list">
  <link rel="import" href="post-teaser.html">

  <template>
    <div v-if="!hasPosts" style="text-align: center;">
      <p>Loading posts...</p>
      <md-spinner md-indeterminate></md-spinner>
    </div>

    <template v-if="hasPosts">
      <post-teaser v-for="(post, index) in posts" :post="post" :key="index"></post-teaser>
    </template>
  </template>

  <script>
    Vue.module('post-list', {
      data: function () {
        return {
          posts: [],
        };
      },

      computed: {
        hasPosts: function () { return this.posts.length > 0; },
      },

      mounted: function () {
        getPosts(this, function (posts) {
          this.posts = posts.posts;
        });
      },
    });
  </script>
</vue-module>
