<vue-module id="site-tags">
  <template>
    <!-- <style is="custom-style"> -->
    <!--   a:hover { text-decoration: none !important; } -->
    <!--   paper-button { margin-bottom: 1em; } -->
    <!-- </style> -->

    <!-- <style> -->
    <!--   paper-button { background-color: black; } -->
    <!-- </style> -->

    <span v-if="!noHeader">
      <b><i>Tags:</i></b>
    </span>

    <md-chip md-editable v-for="(tag, index) in tagsArray" :href="'/tags.html#' + tag"
             :key="index" style="margin: 0.2em;" v-on:edit="tagclick(tag)">
      {{tag}}
    </md-chip>

    <br>
  </template>

  <script>
    Vue.module('site-tags', {
      props: {
        tags: String,
        noHeader: {
          type: Boolean,
          default: false,
        },
      },

      computed: {
        tagsArray: function () {
          return $.map(this.tags.split(','), function (tag) {
            return $.trim(tag).toUpperCase();
          });
        },
      },

      methods: {
        tagclick: function (tag) {
          window.location.href = '/tags.html#' + encodeURIComponent(tag.toLowerCase());
        },
      },
    });
  </script>
</vue-module>
