<vue-module id="site-navbar">
  <template>
    <if-mobile>
      <span class="container" slot="mobile">
        <md-sidenav class="md-left md-fixed" ref="sidenav">
          <md-toolbar class="md-large">
            <div class="md-toolbar-container">
              <h3 class="md-title">Navigation</h3>
            </div>
          </md-toolbar>

          <md-list>
            <md-list-item v-for="(item, index) in headers.root" :key="index" :href="item[1]">
              {{ item[0] }}
            </md-list-item>

            <template v-for="(menu, index) in headers.menus">
              <md-subheader>{{ menu }}</md-subheader>

              <md-list-item v-for="(item, index) in headers[menu]" :key="index"
                            :href="item[1]">
                {{ item[0] }}
              </md-list-item>
            </template>
          </md-list>
        </md-sidenav>
      </span>
    </if-mobile>

    <div id="main-content">
      <md-toolbar>
        <md-button class="md-icon-button" @click="toggleNav" ref="nav">
          <md-icon>menu</md-icon>
        </md-button>

        <h2 class="md-title" style="flex: 1">refi64 - BlockByte</h2>

        <if-mobile>
          <span class="container" slot="desktop">
            <md-button v-for="(item, index) in headers.root" :key="index" :href="item[1]">
              {{ item[0] }}
            </md-button>

            <md-menu md-align-trigger v-for="(menu, index) in headers.menus" :key="index">
              <md-button md-menu-trigger>
                {{ menu }}
                <md-icon>keyboard_arrow_down</md-icon>
              </md-button>

              <md-menu-content>
                <md-menu-item v-for="(item, index) in headers[menu]" :key="index"
                              :href="item[1]">
                  {{ item[0] }}
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </span>
        </if-mobile>
      </md-toolbar>
    </div>
  </template>

  <style>
  @media (min-width: 481px) {
    .md-icon-button { visibility: hidden; }
  }
  </style>

  <script>
    Vue.module('site-navbar', {
      data: function() {
        return {
          headers: {
            root: [
              ['Home', '/'],
              ['RSS', 'https://feed43.com/4061761183385368.xml'],
              ['Tags', '/tags.html'],
            ],

            menus: ['Projects', 'Links'],

            Projects: [
              ['XCXSound', '/proj/xcxsound.html'],
              ['Other projects', '/projects.html'],
            ],

            Links: [
              ['GitHub', 'https://github.com/kirbyfan64'],
              ['GameFAQs', 'http://www.gamefaqs.com/community/kirbyfan64sos'],
              ['Stack Overflow', 'http://stackoverflow.com/users/2097780/refi64'],
              ['Darcs Hub', 'http://hub.darcs.net/refi64'],
              ['SoundCloud', 'https://soundcloud.com/user-356790806'],
              ['XDA Developers', 'https://forum.xda-developers.com/member.php?u=5569318'],
              ['VGMdb', 'http://vgmdb.net/forums/member.php?u=24312'],
            ],
          },
        };
      },

      methods: {
        toggleNav: function () {
          this.$refs.sidenav.toggle();
        }
      }
    });
  </script>
</vue-module>
