<vue-module id="tag-list">
  <template>
    <template v-if="tagPage">
      <h1 v-if="istag">Tag: {{tag.toUpperCase()}}</h1>
      <h1 v-else>Tags</h1>
    </template>

    <div v-if="!hasPosts" style="text-align: center;">
      <p>Loading tags...</p>
      <md-spinner md-indeterminate></md-spinner>
    </div>

    <template v-if="!istag">
      <site-tags :tags="allTagsString" no-header></site-tags>
    </template>

    <template v-else>
      <post-teaser v-for="(post, index) in ourPosts" :key="index" :post="post"></post-teaser>
    </template>
  </template>

  <script>
    Vue.module('tag-list', {
      props: {
        tagPage: {
          type: Boolean,
          default: false,
        },
      },

      data: function () {
        return {
          tag: '',
          posts: [],
          allTags: [],
          ourPosts: [],
        };
      },

      methods: {
        mapTags: function (func) {
          for (var i=0; i<this.posts.length; i++) {
            getPost(this, '/posts/' + this.posts[i] + '.html', (function (index, post) {
              var tags = post.find('site-tags').attr('tags');
              if (tags === undefined)
                console.error(this.posts[index] + ' has no tags');
              func.call(this, this.posts[index], tags);
            }).bind(this, i));
          }
        },

        updateTags: function () {
          this.allTags = [];
          this.ourPosts = [];
          if (!this.istag) {
            this.mapTags(function (post, tagstring) {
              var tags = tagstring.split(', ');
              for (var i=0; i<tags.length; i++)
                if (this.allTags.indexOf(tags[i]) == -1) {
                  this.allTags.push(tags[i]);
                  this.allTags.sort();
                }
            });
          } else {
            this.mapTags(function (post, tags) {
              if (tags.indexOf(this.tag) != -1) {
                this.ourPosts.push(post);
              }
            });
          }
        },
      },

      computed: {
        istag: function () { return this.tag != '' && this.tagPage; },
        allTagsString: function () { return this.allTags.join(', '); },
        hasPosts: function () { return this.posts.length > 0 &&
                                       (this.istag ? this.ourPosts.length > 0: true); },
      },

      watch: {
        posts: function () { this.updateTags(); },
        tag: function () { this.updateTags(); },
      },

      mounted: function () {
        var hashchange = (function () {
          this.tag = decodeURIComponent(window.location.hash.substring(1));
        }).bind(this);

        hashchange();
        $(window).on('hashchange', hashchange);
        $(window).ready(hashchange);

        getPosts(this, function (posts) {
          this.posts = posts.posts;
        });
      },
    });
  </script>
</vue-module>
